body {
  background: url(./img/pexels-elevate-1267358.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  color: black;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  background-color: #68483b;
}

.mainContent {
  background-color: #856f5fc5;
  min-height: 50vh;
  border: 2px snow solid;
}